/* Here is all the style, like fonts and colors */

/*
h1 {
  font-family: "ff-providence-sans-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
 font-family: "ff-providence-sans-web-pro", sans-serif;
font-weight: 700;
font-style: normal;
}
This is here so our main font, first regular, second bold

p{
font-family: "obviously", sans-serif;
font-weight: 400;
font-style: normal;
}
This is obviously, regular type
*/

.logo {
  position: relative;
  left: -550px;
}

.logo:hover {
  transform: scale(1.1); /* Enlarge the element */
  transition: transform 0.3s ease; /* Smooth transition */
}

body {
  background: rgb(243, 246, 245); /* Fallback for older browsers */
  background: linear-gradient(to bottom, /* Change the direction to go top to bottom */ rgba(243, 246, 245, 1) 0%, /* Lightest color at the top */ rgba(90, 139, 178, 1) 30%, /* Gradually transition */ rgba(57, 117, 161, 1) 60%, /* Midpoint of the gradient */ rgba(15, 69, 129, 1) 80%, /* Darker towards the bottom */ rgba(0, 79, 139, 1) 100% /* Darkest color at the bottom */);
  margin: 0; /* Reset margin for full viewport coverage */
  height: 100vh; /* Ensure it covers the entire screen */
}
.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.header-content {
  position: absolute;
  top: -230px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  z-index: 1;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: "ff-providence-sans-web-pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  transition: color 0.3s;
}

.menu a:hover {
  transform: scale(1.1); /* Enlarge the element */
  transition: transform 0.3s ease; /* Smooth transition */
}

.nyhedsbrev h1 {
  font-family: "ff-providence-sans-web-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 30px;
}

.nyhedsbrev h2 {
  font-family: "ff-providence-sans-web-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "obviously", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 15px;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.footersection h3 {
  font-family: "ff-providence-sans-web-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 15px;
}

.footersection a,
p {
  font-family: "obviously", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  list-style: none;
  font-size: 10px;
  color: white;
}
