---

---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/public/favicon.logo/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/favicon.logo/favicon-32x32.png"> 
		<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon.logo/favicon-16x16.png"> 
		<link rel="manifest" href="/public/favicon.logo/site.webmanifest"> 

		<link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css">
		<link rel="stylesheet" href="/src/styles/style.css?v=1.0.1">
		<link rel="stylesheet" href="/src/styles/layout.css?v=1.0.1">
		<title>Drømmemagi</title>
	</head>
	<body>
		<header class="header">
			<video 
			  autoplay 
			  loop 
			  muted 
			  playsinline 
			  class="header-video">
			  <source src="/video/drommevideo.mp4" type="video/mp4" />
			  Your browser does not support the video tag.
			</video>
			
			<div class="header-content">
			  <!-- Logo -->
			  <div class="logo">
				<a href="/src/pages/index.astro">
				  <img src="/src/assets/logo.svg" alt="Drømmemagi Logo" />
				</a>
			  </div>
			  
			  <!-- Navigation Menu -->
			  <nav>
				<ul class="menu">
					<div></div>
				  <li><a href="https://kidsaid.dk/magic-charity/" target="blank">MAGIC CHARITY</a></li>
				  <li><a href="https://kidsaid.dk/kontakt-os/" target="blank">KONTAKT OS</a></li>
				  <li><a href="https://kidsaid.dk/om-kidsaid/#_stoet-os" target="blank">DONATE</a></li>
				  <div>
				</ul>
			  </nav>
			</div>
		  </header>

		<main>
			<div class="sky-2">
				<svg class="vector-966" width="1430" height="436" viewBox="0 0 1841 436" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M403.438 55.0335C473.523 40.3806 512.815 42.7105 582.897 55.0335C644.466 30.6359 678.998 25.2468 740.603 28.5318C832.278 -9.36669 886.024 -9.65426 987.132 28.5318L1036.07 35.3466C1164.67 0.544891 1224.48 5.30541 1306.17 62.6054C1419.13 47.2072 1467 56.3682 1529.13 98.9505C1684.61 83.987 1738.57 96.8197 1764.79 164.826C1822.93 193.406 1826.82 212.031 1793.79 248.874C1880.59 315.318 1853.62 339.822 1663.27 360.181C1622.51 384.636 1587.3 391.117 1507.38 392.74C1420.22 443.534 1354.2 451.231 1230.04 407.127L1162.96 398.041L1106.77 402.584C1011.64 435.599 954.787 437.066 845.74 407.127C760.415 421.04 714.517 421.426 639.091 398.041C534.562 413.651 484.159 405.9 403.438 373.811C220.265 401.663 175.047 382.818 144.22 319.293C37.6365 298.271 9.56077 280.417 24.5812 236.002C-17.1083 197.627 -8.91643 177.773 73.5244 145.896C93.5465 117.571 120.25 105.921 207.665 95.9218C255.695 58.9802 294.29 46.8866 403.438 55.0335Z" fill="#F7F5F2" stroke="black" stroke-width="2" />
				</svg>
				<div class="skytext"> For at kunne hjælpe så mange syge børn og familier som muligt, afvikler vi en masse projekter og arrangementer hvor vi samler penge ind og store årlige begivenheder. Vi har nogle loyale sponsorer, der består af både virksomheder og enkeltpersoner, hvis birdrag er af meget stor betydning for os. Dertil har vi en lang række ambassadører, som ligeldeles yder en stor indsats for, at Drømmemagi hvert år kan hjælpe så mange børn og familier som overhedet muligt. </div>
				<div class="skytitle"> Sådan Samler Vi Ind </div>
			</div>

			<div class="vil-du-st-tte-dr-mmemagi"> VIL DU STØTTE DRØMMEMAGI?<br /> </div>
			<div class="hats">
				<div class="hover-image">
				
				<a href="https://kidsaid.dk/om-kidsaid/organisationen/#frivillige" target="_blank">
				<img src="hat.png" alt="Default Image" class="original">
				<img src="variant2.png" alt="Hover Image" class="hover">
				</div>
				<div class="hover-image">
				
				<a href="https://kidsaid.dk/om-kidsaid/#stoet-os" target="_blank">
				<img src="hat.png" alt="Default Image" class="original">
				<img src="variant2-2.png" alt="Hover Image" class="hover">
				</div>
			</div>
		</main>
		<footer>
			<div class="footersection">
				<h3>OM OS</h3>
				<a href="https://kidsaid.dk/nyheder/" target="_blank">NYHEDER</a> <br>
				<a href="https://kidsaid.dk/om-kidsaid/ambassadoerer/" target="_blank">KIDSAID AMBASSADØRER</a><br>
				<a href="https://kidsaid.dk/om-kidsaid/organisationen/" target="_blank">KIDSAID ORGANISATION</a><br>
			</div>			
			<div class="footersection">
				<h3>KONTAKT OS</h3>
				<p>KONTAKT@DROMMEMAGI.DK<br>
					TLF: +45 2025 1987<br>
					Svanemøllevej 17, 2100 København Ø
				</p>
			</div>
			<div class="footersection">
				<h3>REGNSKABER</h3>
				<a href="https://kidsaid.dk/wp-content/uploads/2023/06/Overskudserklaering-underskrevet.pdf" target="_blank">OVERSKUDSERKLÆRING 2021</a><br>
				<a href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-Ledelsesberetning-2022.pdf" target="_blank">LEDELSESBERETNING 2022</a><br>
				<a href="https://kidsaid.dk/wp-content/uploads/2024/08/Indsamlingsregnskab-signed.pdf" target="_blank">INDSAMLINGSREGNSKAB 2023</a><br>
				<a href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-A%CC%8Arsrapport-2022.pdf" target="_blank">ÅRSRAPPORT 2022</a>
			</div>
		</footer>
	</body>
</html>
