---

---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/public/favicon.logo/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/favicon.logo/favicon-32x32.png"> 
		<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon.logo/favicon-16x16.png"> 
		<link rel="manifest" href="/public/favicon.logo/site.webmanifest"> 

		<link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css">
		<link rel="stylesheet" href="/src/styles/style.css?v=1.0.1">
		<link rel="stylesheet" href="/src/styles/layout.css?v=1.0.1">
		<title>Drømmemagi</title>
	</head>
	<body>
		<header class="header">
			<video 
			  autoplay 
			  loop 
			  muted 
			  playsinline 
			  class="header-video">
			  <source src="/video/drommevideo.mp4" type="video/mp4" />
			  Your browser does not support the video tag.
			</video>
			
			<div class="header-content">
			  <!-- Logo -->
			  <div class="logo">
				<a href="/src/pages/index.astro">
				  <img src="/src/assets/logo.svg" alt="Drømmemagi Logo" />
				</a>
			  </div>
			  
			  <!-- Navigation Menu -->
			  <nav>
				<ul class="menu">
					<div></div>
				  <li><a href="https://kidsaid.dk/magic-charity/" target="blank">MAGIC CHARITY</a></li>
				  <li><a href="https://kidsaid.dk/kontakt-os/" target="blank">KONTAKT OS</a></li>
				  <li><a href="https://kidsaid.dk/om-kidsaid/#_stoet-os" target="blank">DONATE</a></li>
				  <div>
				</ul>
			  </nav>
			</div>
		  </header>
		  
		<main>
			<div class="hats"></div>
			<div class="vil-du-st-tte-dr-mmemagi"> VIL DU STØTTE DRØMMEMAGI?<br /> </div>
			<svg class="hat-rabbit-1" width="180px" height="158px" viewBox="0 0 180 158" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M37.0273 70.5983C39.6872 89.817 37.914 109.598 31.8791 128.088C31.6726 128.722 31.4597 129.373 31.5328 130.034C31.6408 131.015 32.359 131.814 33.0391 132.546C35.5401 135.229 38.0411 137.913 40.5389 140.596C43.4022 143.67 46.3608 146.815 50.1838 148.672C52.545 149.818 55.1381 150.424 57.636 151.251C60.4865 152.195 63.2259 153.433 66.032 154.497C71.9333 156.732 110.182 165.333 142.835 142.834C147.392 139.693 154.187 134.332 160.892 125.866C158.839 122.555 155.97 117.486 153.351 110.978C148.568 99.0882 147.31 89.0608 145.749 75.901C145.098 70.3923 144.383 62.8211 144.1 53.7251" fill="black" />
<path d="M37.0273 70.5983C39.6872 89.817 37.914 109.598 31.8791 128.088C31.6726 128.722 31.4597 129.373 31.5328 130.034C31.6408 131.015 32.359 131.814 33.0391 132.546C35.5401 135.229 38.0411 137.913 40.5389 140.596C43.4022 143.67 46.3608 146.815 50.1838 148.672C52.545 149.818 55.1381 150.424 57.636 151.251C60.4865 152.195 63.2259 153.433 66.032 154.497C71.9333 156.732 110.182 165.333 142.835 142.834C147.392 139.693 154.187 134.332 160.892 125.866C158.839 122.555 155.97 117.486 153.351 110.978C148.568 99.0882 147.31 89.0608 145.749 75.901C145.098 70.3923 144.383 62.8211 144.1 53.7251" stroke="black" stroke-width="4" stroke-miterlimit="10" />
<path d="M19.5362 10.3047C12.9961 14.4485 3.93908 20.1876 0.955043 31.4692C-1.44744 40.5498 0.761191 50.6695 6.6975 57.8903C8.68686 60.3126 14.3721 66.3961 33.4458 69.9988C58.6116 74.7543 79.5984 70.0111 86.6501 68.4495C110.446 63.1899 180.433 47.7184 179.168 31.6475C178.796 26.9474 170.642 22.7298 161.372 17.8145C155.553 14.7282 150.44 13.0682 146.118 11.6665C139.114 9.39174 133.508 8.23899 128.957 7.3629C114.228 4.52867 103.334 2.4322 87.6448 1.21489C72.3559 0.0313991 63.5564 -0.65103 51.223 0.904416C40.1258 2.30309 30.0582 3.64335 19.5425 10.3078L19.5362 10.3047Z" fill="#CCCCCC" stroke="black" stroke-width="4" stroke-miterlimit="10" />
<path d="M35.0122 42.2314C36.5281 49.3477 56.8094 50.6972 61.5794 51.0169C67.5634 51.4165 72.5463 51.1276 84.1583 49.6336C127.171 44.1004 132.52 38.5549 134.353 34.4173C134.868 33.2584 135.653 31.414 134.989 29.4989C134.191 27.2026 131.207 24.5128 105.752 22.1213C96.3297 21.236 91.62 20.7933 86.0492 20.8917C81.9688 20.9624 72.1427 21.3405 59.9905 24.2731C50.0214 26.68 46.4495 28.8841 45.0544 29.8063C42.8553 31.2603 33.9286 37.1531 35.0122 42.2314Z" fill="#333333" stroke="black" stroke-width="4" stroke-miterlimit="10" />
</svg>
<svg class="doner-rabbit" width="180" height="158" viewBox="0 0 180 158" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M37.0273 70.5983C39.6872 89.817 37.914 109.598 31.8791 128.088C31.6726 128.722 31.4597 129.373 31.5328 130.034C31.6408 131.015 32.359 131.814 33.0391 132.546C35.5401 135.229 38.0411 137.913 40.5389 140.596C43.4022 143.67 46.3608 146.815 50.1838 148.672C52.545 149.818 55.1381 150.424 57.636 151.251C60.4865 152.195 63.2259 153.433 66.032 154.497C71.9333 156.732 110.182 165.333 142.835 142.834C147.392 139.693 154.187 134.332 160.892 125.866C158.839 122.555 155.97 117.486 153.351 110.978C148.568 99.0882 147.31 89.0608 145.749 75.901C145.098 70.3923 144.383 62.8211 144.1 53.7251" fill="black" />
    <path d="M37.0273 70.5983C39.6872 89.817 37.914 109.598 31.8791 128.088C31.6726 128.722 31.4597 129.373 31.5328 130.034C31.6408 131.015 32.359 131.814 33.0391 132.546C35.5401 135.229 38.0411 137.913 40.5389 140.596C43.4022 143.67 46.3608 146.815 50.1838 148.672C52.545 149.818 55.1381 150.424 57.636 151.251C60.4865 152.195 63.2259 153.433 66.032 154.497C71.9333 156.732 110.182 165.333 142.835 142.834C147.392 139.693 154.187 134.332 160.892 125.866C158.839 122.555 155.97 117.486 153.351 110.978C148.568 99.0882 147.31 89.0608 145.749 75.901C145.098 70.3923 144.383 62.8211 144.1 53.7251" stroke="black" stroke-width="4" stroke-miterlimit="10" />
    <path d="M19.5362 10.3047C12.9961 14.4485 3.93908 20.1876 0.955043 31.4692C-1.44744 40.5498 0.761191 50.6695 6.6975 57.8903C8.68686 60.3126 14.3721 66.3961 33.4458 69.9988C58.6116 74.7543 79.5984 70.0111 86.6501 68.4495C110.446 63.1899 180.433 47.7184 179.168 31.6475C178.796 26.9474 170.642 22.7298 161.372 17.8145C155.553 14.7282 150.44 13.0682 146.118 11.6665C139.114 9.39174 133.508 8.23899 128.957 7.3629C114.228 4.52867 103.334 2.4322 87.6448 1.21489C72.3559 0.0313991 63.5564 -0.65103 51.223 0.904416C40.1258 2.30309 30.0582 3.64335 19.5425 10.3078L19.5362 10.3047Z" fill="#CCCCCC" stroke="black" stroke-width="4" stroke-miterlimit="10" />
    <path d="M35.0122 42.2314C36.5281 49.3477 56.8094 50.6972 61.5794 51.0169C67.5634 51.4165 72.5463 51.1276 84.1583 49.6336C127.171 44.1004 132.52 38.5549 134.353 34.4173C134.868 33.2584 135.653 31.414 134.989 29.4989C134.191 27.2026 131.207 24.5128 105.752 22.1213C96.3297 21.236 91.62 20.7933 86.0492 20.8917C81.9688 20.9624 72.1427 21.3405 59.9905 24.2731C50.0214 26.68 46.4495 28.8841 45.0544 29.8063C42.8553 31.2603 33.9286 37.1531 35.0122 42.2314Z" fill="#333333" stroke="black" stroke-width="4" stroke-miterlimit="10" />
</svg>
</div>
		</main>
		<footer>
			<div class="footersection">
				<h3>OM OS</h3>
				<a href="https://kidsaid.dk/nyheder/" target="_blank">NYHEDER</a> <br>
				<a href="https://kidsaid.dk/om-kidsaid/ambassadoerer/" target="_blank">KIDSAID AMBASSADØRER</a><br>
				<a href="https://kidsaid.dk/om-kidsaid/organisationen/" target="_blank">KIDSAID ORGANISATION</a><br>
			</div>			
			<div class="footersection">
				<h3>KONTAKT OS</h3>
				<p>KONTAKT@DROMMEMAGI.DK<br>
					TLF: +45 2025 1987<br>
					Svanemøllevej 17, 2100 København Ø
				</p>
			</div>
			<div class="footersection">
				<h3>REGNSKABER</h3>
				<a href="https://kidsaid.dk/wp-content/uploads/2023/06/Overskudserklaering-underskrevet.pdf" target="_blank">OVERSKUDSERKLÆRING 2021</a><br>
				<a href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-Ledelsesberetning-2022.pdf" target="_blank">LEDELSESBERETNING 2022</a><br>
				<a href="https://kidsaid.dk/wp-content/uploads/2024/08/Indsamlingsregnskab-signed.pdf" target="_blank">INDSAMLINGSREGNSKAB 2023</a><br>
				<a href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-A%CC%8Arsrapport-2022.pdf" target="_blank">ÅRSRAPPORT 2022</a>
			</div>
		</footer>
	</body>
</html>
