---

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/favicon.logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/favicon.logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicon.logo/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/favicon.logo/site.webmanifest" />

    <link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css" />
    <link rel="stylesheet" href="/styles/style.css?v=2.0" />
    <link rel="stylesheet" href="/styles/layout.css?v=2.0" />
    <title>Drømmemagi</title>
  </head>
  <body>
    <header class="header">
      <video autoplay loop muted playsinline class="header-video">
        <source src="/video/drommevideo.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="header-content">
        <!-- Logo -->
        <div class="logo">
          <a href="/src/pages/index.astro">
            <img src="/assets/logo.svg" alt="Drømmemagi Logo" />
          </a>
        </div>

        <!-- Navigation Menu -->
        <nav>
          <ul class="menu">
            <div></div>
            <li>
              <a href="https://kidsaid.dk/magic-charity/" target="blank"
                >MAGIC CHARITY</a
              >
            </li>
            <li>
              <a href="https://kidsaid.dk/kontakt-os/" target="blank"
                >KONTAKT OS</a
              >
            </li>
            <li>
              <a href="https://kidsaid.dk/om-kidsaid/#_stoet-os" target="blank"
                >DONATE</a
              >
            </li>
            <div></div>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>KOMMENDE BEGIVENHEDER</h1>
      <div class="event-container">
        <div class="bluecard">
          <img src="/assets/kidsaidmagic.png" alt="" />
        </div>
        <div class="bluecard">
          <img src="/assets/stjernegolf.png" alt="" />
        </div>
        <div class="bluecard">
          <img src="/assets/cirkus.png" alt="" />
        </div>
        <div class="bluecard">
          <img src="/assets/galla.png" alt="" />
        </div>
      </div>
      <div class="vil-du-st-tte-dr-mmemagi">
        VIL DU STØTTE DRØMMEMAGI?<br />
      </div>

      <div class="hats">
        <div class="hover-image">
          <a
            href="https://kidsaid.dk/om-kidsaid/organisationen/#frivillige"
            target="_blank"
          >
            <img
              src="/public/assets/hat.png"
              alt="Default Image"
              class="original"
            />
            <img
              src="/public/assets/variant2.png"
              alt="Hover Image"
              class="hover"
            />
          </a>
          <div class="hover-image">
            <a href="https://kidsaid.dk/om-kidsaid/#stoet-os" target="_blank">
              <img
                src="/public/assets/hat.png"
                alt="Default Image"
                class="original"
              />
              <img
                src="/public/assets/variant2-2.png"
                alt="Hover Image"
                class="hover"
              />
            </a>
          </div>
          <div class="nyhedsbrevdiv">
            <h1>NYHEDSBREV</h1>
            <h2>MODTAG DE SENESTE NYHEDER FRA DRØMMEMAGI</h2>
            <form action="#" method="POST">
              <label for="email">EMAIL</label>
              <input type="email" id="email" name="email" required />

              <label for="first-name">FORNAVN</label>
              <input type="text" id="first-name" name="first-name" required />

              <label for="last-name">EFTERNAVN</label>
              <input type="text" id="last-name" name="last-name" required />

              <button type="submit">TILMELD</button>
            </form>
          </div>
        </div>
        <footer>
          <div class="footersection">
            <h3>OM OS</h3>
            <a href="https://kidsaid.dk/nyheder/" target="_blank">NYHEDER</a>
            <br />
            <a
              href="https://kidsaid.dk/om-kidsaid/ambassadoerer/"
              target="_blank">KIDSAID AMBASSADØRER</a
            ><br />
            <a
              href="https://kidsaid.dk/om-kidsaid/organisationen/"
              target="_blank">KIDSAID ORGANISATION</a
            ><br />
          </div>
          <div class="footersection">
            <h3>KONTAKT OS</h3>
            <p>
              KONTAKT@DROMMEMAGI.DK<br />
              TLF: +45 2025 1987<br />
              Svanemøllevej 17, 2100 København Ø
            </p>
          </div>
          <div class="footersection">
            <h3>REGNSKABER</h3>
            <a
              href="https://kidsaid.dk/wp-content/uploads/2023/06/Overskudserklaering-underskrevet.pdf"
              target="_blank">OVERSKUDSERKLÆRING 2021</a
            ><br />
            <a
              href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-Ledelsesberetning-2022.pdf"
              target="_blank">LEDELSESBERETNING 2022</a
            ><br />
            <a
              href="https://kidsaid.dk/wp-content/uploads/2024/08/Indsamlingsregnskab-signed.pdf"
              target="_blank">INDSAMLINGSREGNSKAB 2023</a
            ><br />
            <a
              href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-A%CC%8Arsrapport-2022.pdf"
              target="_blank">ÅRSRAPPORT 2022</a
            >
          </div>
        </footer>
      </div>
    </main>
  </body>
</html>
